<!DOCTYPE html>
<!--TODO: Buoc 5
- Sau đó ở template, gọi tới tên của các message trong file message.properties thay vì sử dụng hard-coded, sau đây là mã tham khảo khi template là html và được resolver bằng thư viện thymeleaf, chú ý cú pháp #{messagePath} trong file login.html:-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title th:text="#{login.title}"></title>
</head>
<body>
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 m-auto">
            <div class="card border-0 shadow my-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                     fill="currentColor" class="bi bi-person-circle mx-auto" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
                <h1 class="text-center " th:text="#{login.heading}"></h1>
                <div class="card-body">
                    <h5 class="text-center">
                        Language: <a href="?lang=en">English</a> | <a href="?lang=ko">Korean</a>
                    </h5>
                    <form th:action="@{/doLogin}" th:object="${user}" method="post">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-4">
                                <label for="user-name" th:text="#{login.username_label}"> </label>
                            </div>
                            <div class="col-8">
                                <input type="text" name="user-name" id="user-name" class="form-control my-3 py-2
                            " th:placeholder="#{login.username_label}" th:field="*{username}">
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-4">
                                <label for="password" th:text="#{login.password_label}">Password</label>
                            </div>
                            <div class="col-8">
                                <input type="password" id="password" class="form-control my-3 py-2"
                                       th:placeholder="#{login.password_label}" th:field="*{password}">
                            </div>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary" th:value="#{login.submit_label}">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>